extends layout
block content
  p
    | FileCubby is a platform designed to help you share your files with your friends.
    | It's easy, secure, and ephemeral!


  ul
    li
      form(method='POST', action='http://localhost:3000/upload', enctype='multipart/form-data')
        input(class='input-left' type='file', name='file')
        input(class='input-right' type='submit')

    li
      form(method='GET', action='http://localhost:3000/download')
        input(class='input-left text-input' type='text', name='code')
        input(class='input-right' type='submit')

    