//- textured maincolor

extends layout
block content
  p
    | FileCubby is a service designed to help you share your files.
    | Just upload your file, and distribute the tag so others can download!

  ul
    li
      form(id='upload-form' method='POST' action='http://localhost:3000/upload' enctype='multipart/form-data')
        input(id='file' class='input-left custom-file-input' type='file' name='file')
        input(id='upload-button' class='submit-button' type='submit' value='upload')

    li
      form(id='download-form' method='GET' action='http://localhost:3000/download')
        input(id='tag' class='input-left' type='text' name='tag' placeholder='enter tag here...')
        input(id='download-button' class='submit-button' type='submit' value='download')

  script.
    $(document).ready(function() {
      var uploadForm = document.getElementById('upload-form');
      
      deactivateSubmit();

      $('#file').change(function() {
        var fileVal = document.getElementById('file').value;
        if (fileVal) {
          activateSubmit();
        }
        else { 
          deactivateSubmit(); 
        }
      });

      form.onsubmit = sendFile();

      function sendFile() {
        var formData = new FormData(form);
        formData.append('file', file);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', form.getAttribute('action'), true);
        xhr.send(formData);

        return false;
      }

      function deactivateSubmit() {
        document.getElementById('upload-button').disabled = true;        
        //- gray out button
      }

      function activateSubmit() {
        document.getElementById('upload-button').disabled = false;
        //- restore color
      }

    });
