extends layout
block content
  p
    | FileCubby is a platform designed to help you share your files with your friends.
    | It's easy, secure, and ephemeral!

  ul
    li
      //- form(method='POST', action='http://localhost:3000/upload', enctype='multipart/form-data')
      input(id='choose-button' class='input-left' type='file' name='file')
      input(id='upload-button' class='submit-button' type='submit' value='upload')

    li
      //- form(method='GET', action='http://localhost:3000/download')
      input(id='tag-box' class='input-left' type='text' name='code' placeholder='enter tag here...')
      input(id='download-button' class='submit-button' type='submit' value='download')

  script.
    $(document).ready(function() {

      $('#upload-button').click(function() {
        $.ajax({
          url: 'http://localhost:3000/upload',
          type: 'POST',
          data: $('#choose-button').val(),
          success: function(data) {
            alert('success' + data)
          },
          error: function(err) {
            alert('error' + err)
          }
        })
      })

      $('#download-button').click(function() {
          $.ajax({
            url: 'http://localhost:3000/test',
            type: 'GET',
            success: function(data) {
              alert(data)
            }
          })
      })

    })
