extends layout
block content
  p
    | FileCubby is a service designed to help you share your files.
    | Just upload your file, and distribute the tag so others can download!

  ul
    li
      form(id='upload-form' method='POST' action='http://localhost:3000/upload' enctype='multipart/form-data')
        input(id='file' class='input-left custom-file-input' type='file' name='file')
        input(id='upload-button' class='submit-button' type='submit' value='upload')

    li
      form(id='download-form' method='GET' action='http://localhost:3000/download')
        input(id='tag' class='input-left' type='text' name='tag' placeholder='enter tag here...')
        input(id='download-button' class='submit-button' type='submit' value='download')

  script.
    $(document).ready(function() {
      
      var uploadForm = document.getElementById('upload-form');
      var uploadButton = document.getElementById('upload-button')
      var downloadButton = document.getElementById('download-button');
      var tag = document.getElementById('tag');

      deactivateUpload();
      deactivateDownload();

      //- Upload button handler
      $('#file').change(function() {
        var fileVal = document.getElementById('file').value;
        if (fileVal) {
          activateUpload();
        }
        else { 
          deactivateUpload();
        }
      });

      //- Download button handler
      tag.onkeyup = function() {
        var tagVal = document.getElementById('tag').value;
        if (tagVal.length == 0 || tagVal.length < 6) {
          deactivateDownload();
        }
        else {
          activateDownload();
        }
      }

      form.onsubmit = sendFile();

      function sendFile() {
        var formData = new FormData(form);
        formData.append('file', file);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', form.getAttribute('action'), true);
        xhr.send(formData);

        return false;
      }

      function deactivateUpload() {
        uploadButton.disabled = true;
        uploadButton.style.opacity = 0.4;
      }

      function activateUpload() {
        uploadButton.disabled = false;
        uploadButton.style.opacity = 1;
      }

      function deactivateDownload() {
        downloadButton.disabled = true;
        downloadButton.style.opacity = 0.4;
      }

      function activateDownload() {
        downloadButton.disabled = false;
        downloadButton.style.opacity = 1;
      }

    });
