doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

  body
    header
      h1
        a(href='/') FileCubby
        img(id='filecub' src='http://localhost:3000/images/filecub.png')
    .container
      .main-content
        block content
    footer
      p 
        a(class='footer-link' href='http://muntaserahmed.com') Created by Muntaser Ahmed @HackMIT
      p Logo by Zaahir Imam
