doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    // script(type='text/javascript').
    //   $(document).ready(function() {
    //     $('.submit-file').click(function () {
    //       $.ajax({
    //         type: 'POST',
    //         url: 'http://localhost:3000/upload',
    //         data: $('.choose-file').val(),
    //         success: function() {
    //           console.log('worked');
    //         }
    //       })
    //     });
    //   });
  body
    header
      h1 FileCubby
    .container
      .main-content
        block content
    footer
      p todo: redis integration, cron wipe, encryption
      p Created by Muntaser Ahmed @HackMIT
