@import url("http://fonts.googleapis.com/css?family=Quicksand");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: Quicksand;
  background-color: #f6f6ef;
  color: #444;
}
header {
  font-family: Quicksand;
  padding: 30px 10px;
  color: #fff;
  font-size: 40px;
  text-align: center;
  background: -webkit-radial-gradient(#3899de 15%, transparent 16%) 0 0, -webkit-radial-gradient(#3899de 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background: -moz-radial-gradient(#3899de 15%, transparent 16%) 0 0, -moz-radial-gradient(#3899de 15%, transparent 16%) 8px 8px, -moz-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, -moz-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background: -o-radial-gradient(#3899de 15%, transparent 16%) 0 0, -o-radial-gradient(#3899de 15%, transparent 16%) 8px 8px, -o-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, -o-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background: -ms-radial-gradient(#3899de 15%, transparent 16%) 0 0, -ms-radial-gradient(#3899de 15%, transparent 16%) 8px 8px, -ms-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, -ms-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background: radial-gradient(#3899de 15%, transparent 16%) 0 0, radial-gradient(#3899de 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background-color: #3899de;
  -webkit-background-size: 16px 16px;
  -moz-background-size: 16px 16px;
  background-size: 16px 16px;
  border-bottom: 1px solid #1c6da7;
  text-shadow: 0px -1px 0px #1c6da7;
}
a {
  text-decoration: none;
  color: #f6f6ef;
}
.footer-link {
  color: #000;
}
#filecub {
  width: 6%;
}
.container {
  width: 500px;
  margin: 50px auto;
  overflow: hidden;
}
.main-content {
  text-align: center;
}
.main-content p {
  margin-bottom: 20px;
}
.main-content form {
  clear: both;
}
#file {
  width: 100%;
}
#tag {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  font-family: Quicksand;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  margin-bottom: 10px;
}
.custom-file-input::before {
  content: 'select';
  display: inline-block;
  background: -webkit--webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: -webkit--moz-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: -webkit--o-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: -webkit--ms-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: -webkit-linear-gradient(to bottom, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: #000;
}
.custom-file-input:active::before {
  background: -webkit--webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  background: -webkit--moz-linear-gradient(top, #e3e3e3, #f9f9f9);
  background: -webkit--o-linear-gradient(top, #e3e3e3, #f9f9f9);
  background: -webkit--ms-linear-gradient(top, #e3e3e3, #f9f9f9);
  background: -webkit-linear-gradient(to bottom, #e3e3e3, #f9f9f9);
}
.submit-button {
  float: right;
  width: 100%;
  background-color: #3899de;
  border: 1px solid #1c6da7;
  display: inline-block;
  cursor: pointer;
  color: #f6f6ef;
  font-family: Quicksand;
  font-size: 20px;
  padding: 7px 34px;
  text-decoration: none;
  text-shadow: 0px 0px 50px #2f6627;
}
.input-left {
  float: left;
}
#your-tag {
  font-size: 60px;
}
p {
  line-height: 1.8;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
  text-align: center;
}
