@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Quicksand')

global-reset()

main-color = #826953
background-color = #faf9f0

body
  font-family 'Quicksand'
  background-color background-color
  color #444

header
  font-family 'Quicksand'
  padding 50px 10px
  color #fff
  font-size 25px
  text-align center

  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

.container
  width 500px
  margin 50px auto
  overflow hidden

.main-content
  text-align center

  p
    margin-bottom 20px

  form
    clear both

.input-right
  float right
  background-color #826953
  border 1px solid #5b4a3a
  display inline-block
  cursor pointer
  color #ffffff
  font-family Quicksand
  font-size 19px
  padding 7px 34px
  text-decoration none
  text-shadow 0px 0px 50px #2f6627

.input-left
  float left

.text-input
  display: block;
  margin-top: 0;
  width: 50%;
  font-family: sans-serif;
  font-size: 19px;

p
  line-height 1.8

footer
  width 500px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px
  text-align center
  