@import url("http://fonts.googleapis.com/css?family=Quicksand");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: Quicksand;
  background-color: #f6f6ef;
  color: #444;
}
header {
  font-family: Quicksand;
  padding: 50px 10px;
  color: #fff;
  font-size: 40px;
  text-align: center;
  background-color: #3899de;
  border-bottom: 1px solid #1c6da7;
  text-shadow: 0px -1px 0px #1c6da7;
}
a {
  text-decoration: none;
  color: #f6f6ef;
}
#filecub {
  width: 5%;
}
.container {
  width: 500px;
  margin: 50px auto;
  overflow: hidden;
}
.main-content {
  text-align: center;
}
.main-content p {
  margin-bottom: 20px;
}
.main-content form {
  clear: both;
}
#file {
  width: 100%;
}
#tag {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  font-family: Quicksand;
}
.submit-button {
  float: right;
  width: 100%;
  background-color: #3899de;
  border: 1px solid #1c6da7;
  display: inline-block;
  cursor: pointer;
  color: #f6f6ef;
  font-family: Quicksand;
  font-size: 20px;
  padding: 7px 34px;
  text-decoration: none;
  text-shadow: 0px 0px 50px #2f6627;
}
.input-left {
  float: left;
}
#your-tag {
  font-size: 50px;
}
p {
  line-height: 1.8;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
  text-align: center;
}
